{% extends 'base.html' %}

{% load static %}
{% block customcss %}
<link href="{% static 'toppage.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<table id="money_list">
    <thead>
        <tr>
            <th class="money_company">バイト先</th>
            <th class="money_month">1月</th>
            <th class="money_month">2月</th>
            <th class="money_month">3月</th>
            <th class="money_month">4月</th>
            <th class="money_month">5月</th>
            <th class="money_month">6月</th>
            <th class="money_month">7月</th>
            <th class="money_month">8月</th>
            <th class="money_month">9月</th>
            <th class="money_month">10月</th>
            <th class="money_month">11月</th>
            <th class="money_month">12月</th>
            
        </tr>
    </thead>
    
    
    <tbody>
        {% for item in model %}
        <tr>
            <td class="money_month"><a href="">{{ item.workplace }}</a></td>
            <td class="money_month">{{ item.janu }}</td>
            <td class="money_month">{{ item.feb }}</td>
            <td class="money_month">{{ item.mar }}</td>
            <td class="money_month">{{ item.apl }}</td>
            <td class="money_month">{{ item.may }}</td>
            <td class="money_month">{{ item.jun }}</td>
            <td class="money_month">{{ item.jul }}</td>
            <td class="money_month">{{ item.aug }}</td>
            <td class="money_month">{{ item.sep }}</td>
            <td class="money_month">{{ item.octr }}</td>
            <td class="money_month">{{ item.nov }}</td>
            <td class="money_month">{{ item.dec }}</td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-danger"><a href="{% url 'moneyupdate' item.pk %}">編集</a></button>
<form action="" method="POST">{% csrf_token %}    
    <a href="{% url 'moneydelete' item.pk %}">削除</a>
</form>
{% endfor %}
  
{% endblock content %}