
{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="bg-light p-5 rounded">
      <h1>給料計算アプリ</h1>
      {{ time }}
      {% if not money_year %}
      <p><a href="{% url 'moneycreate' %}">新規登録</a>をしてください。</p>
      {% else %}
      <a href="{% url 'useredit' user.pk %}">{{ username }}</a>さんの
      <form action="{% url 'moneylist' user.pk %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
          <select name="year">
              {% for year in money_year %}
              <option value="{{ year }}" name='year'>{{year}}</option>
              {% endfor %}
            </select>年度の給料表を<input type="submit"  value="表示" />
      </form>
      <br/><br/>
      {% endif %}
    </div>
  </main>
  {% endblock content %}
  </body>
</html>
